.server-info {
    margin: 2rem;
}

.server-info .title {
    color:darkgreen;
    font-family: sans-serif;
    padding: 0;
    margin: 1rem;
    font-size: 1.5rem;
}

.server-info h4{
    color:rgb(61, 61, 61);
    padding: 0;
    margin: 0;
    text-indent: 1rem;
}
