.server-info {
    margin-top: .5rem;
    padding-left: 10px;
}

.server-info ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.server-info ul li:hover {
    background-color:  #ddfff7;
}

.server-info a:hover {
    text-decoration: none;
}

.server-info h3 a {
    color: #00bc8c;
}

.server-info h3 a:hover {
    color: #00d19d;
}

.server-info h4{
    color :dimgray;
    padding: .5rem 1rem;
}
